src/composer/cache/
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
postgresdata/
nextcloud/*
src/basic/vendor/*
.env
docker-compose.override.yml
src/app/web/resolutions/*
